# Project exclusions
**/_misc/*

# Secrets / environment files
*.env
**/*.env

# Allow env templates
!*.env.example
!**/*.env.example

# Terraform
.terraform/
**/.terraform/
**/terraform.tfstate.*
**/terraform.tfstate
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/.terraform.lock.hcl
**/*.plan
**/*.pem
**/output/
**/*-aks-flux/

# VSCode Files
.vscode*

# Logs
*.log
