# Project exclusions
**/_misc/*

# Terraform
.terraform/
**/.terraform/
**/terraform.tfstate.*
**/terraform.tfstate
**/.terraform.tfstate.lock.info
**/terraform.tfvars
**/.terraform.lock.hcl
**/*.plan
**/*.pem
**/output/
**/*-aks-flux/

# VSCode Files
.vscode*

*.log
